/* Our initial styling */
h1 {
	color: red;
	text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
	font-family: sans-serif;
  font-weight: 500;
}

ul {
	font-size: 20px;
	line-height: 30px;
}